body {
  background: #bada55;
  font-family: monospace;
  font-size: 3em;
  text-align: center;
}

.answer {
  display: grid;
  justify-content: center;
  align-items: end;
  grid-template-rows: 1fr auto auto 1fr;
  height: 90vh;
  color: #a9428f;
}

.answer-button {
  height: 50px;
  background: linear-gradient(to right, #a9428f 50%, #bada55 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  color: #a9428f;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  font-size: 0.3em;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: #a9428f solid 2px;
}

.answer-button:hover,
.answer-button:focus {
  color: #bada55;
  background-position: left bottom;
  cursor: pointer;
}

@keyframes;
